@import "~src/styles.scss";

mat-list {
  padding-top: 0;
  margin-bottom: 32px;
}

mat-list-item {
  cursor: pointer !important;
}

mat-list-item:hover {
  background-color: rgb(225, 225, 225) !important;
}

.fab-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 100;
  backface-visibility: hidden;
}