<form class="fixed-container" fxLayout="row" [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field appearance="outline" class="flawless left" fxFlex="80">
    <mat-label>Nachricht</mat-label>
    <input matInput formControlName="message">
  </mat-form-field>

  <button class="flawless form-submit-button right" color="accent" fxFlex="20" mat-stroked-button type="submit">
    <span fxHide.xs fxShow>Hinzufügen</span>
    <mat-icon fxHide.gt-xs fxShow.xs svgIcon="add"></mat-icon>
  </button>
</form>

<div class="container">
  <mat-list>
    <mat-list-item *ngFor="let message of messages" class="truncate" (click)="message.valid = !message.valid">
      <p [style.text-decoration]="message.valid ? '' : 'line-through'">
        {{message.value}}
      </p>
      <mat-divider *ngIf="hideDivider(message)"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>