button {
  height: 59.5px;
  margin-top: 4px;
}

table {
  width: 100%;
  background-color: #FAFAFA;

  th, td {
    font-size: 14pt !important;
  }

  td {
    mat-checkbox {
      margin-left: calc(50% - 8px);
    }
  }
}

.fab-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  backface-visibility: hidden;
}
