<mat-form-field appearance="standard" style="width: 100%">
  <mat-label>{{label}}</mat-label>
  <input matInput placeholder="{{placeholder}}" [(ngModel)]="time" (keyup)="onValueChanged()">
  <input matInput [matDatepicker]="timePicker" [(ngModel)]="date" (keyup)="onValueChanged()" class="time" type="datetime">
  <mat-hint>{{formatDate(dateTime)}}</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="timePicker"></mat-datepicker-toggle>
  <mat-datepicker #timePicker></mat-datepicker>
</mat-form-field>