<mat-form-field appearance="standard" style="width: 100%">
  <mat-label>{{label}}</mat-label>
  <input matInput placeholder="{{placeholder}}" [formControl]="formControl" [(ngModel)]="time" (ngModelChange)="onTimeChanged($event)">
  <input matInput [matDatepicker]="picker" (dateChange)="onDateChanged($event)" [(ngModel)]="date" class="time" type="datetime">
  <mat-hint>{{format()}}</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <mat-error *ngIf="formControl.hasError('required')">Zeit wird benötigt</mat-error>
  <mat-error *ngIf="formControl.hasError('pattern') && !formControl.hasError('required')">
    Ungültiges Format
  </mat-error>
</mat-form-field>