<div class="container">
  <form fxLayout="row" [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Eingesetzte Feuerwehren</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let department of departments" removable [color]="department.isHead ? 'accent' : ''"
          [selected]="department.isHead" (removed)="remove(department)" (click)="select(department)">
          {{department.name}}
          <mat-icon matChipRemove *ngIf="department.name !== 'Marchtrenk'" svgIcon="cancel"></mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-hint>Hinweis: Einsatzleiter ist von der ausgewählten Feuerwehr.</mat-hint>
    </mat-form-field>
  </form>

  <br />

  <form fxLayout="row" [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Eingesetzte Organisationen (mehrfach)</mat-label>
      <mat-chip-list multiple>
        <mat-chip *ngFor="let organisation of organisations" [color]="organisation.isSelected ? 'accent' : ''"
          [selected]="organisation.isSelected" (click)="toggle(organisation)">
          {{organisation.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </form>
</div>