<div class="container" fxLayout="column">
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Eingesetzte Organisationen</mat-label>
    <mat-select multiple (selectionChange)="alarm.organisations = $event.value" [value]="alarm.organisations">
      <mat-option *ngFor="let organisation of organisations" [value]="organisation">
        {{organisation}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="outline" class="left" fxFlex="80">
      <mat-label>Feuerwehr</mat-label>
      <input formControlName="department" matInput [matAutocomplete]="complete" (input)="filter()">
      <mat-autocomplete #complete="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let department of filteredDepartments" [value]="department">
          {{department}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button class="form-submit-button fix-button right" color="accent" fxFlex="20" fxHide.xs fxShow mat-stroked-button
      type="submit">
      Hinzufügen
    </button>
    <button class="form-submit-button fix-button right" color="accent" fxFlex="20" fxHide.gt-xs fxShow.xs
      mat-stroked-button type="submit">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </form>

  <mat-form-field *ngIf="alarm.departments.length !== 0" appearance="outline" floatLabel="always" fxFlex>
    <mat-label>Involvierte Feuerwehren</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let department of alarm.departments" [color]="department.isHead ? 'accent' : ''"
        [selected]="department.isHead" (click)="select(department)" (removed)="remove(department)">
        {{department.name}}
        <mat-icon *ngIf="department.name !== 'Marchtrenk'" matChipRemove svgIcon="cancel"></mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <!-- <mat-form-field appearance="outline" fxFlex>
    <mat-label>Eingesetzte Feuerwehren</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let department of selectedDepartments" removable [color]="department.isHead ? 'accent' : ''"
        [selected]="department.isHead" (removed)="remove(department)" (click)="select(department)">
        {{department.name}}
        <mat-icon matChipRemove *ngIf="department.name !== 'Marchtrenk'" svgIcon="cancel"></mat-icon>
      </mat-chip>
      <input [formControl]="control" [matAutocomplete]="complete" [matChipInputFor]="chipList"
        (input)="onValueChanged()" (matChipInputTokenEnd)="add($event)">
      <mat-autocomplete #complete="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let department of filteredDepartments" [value]="department">{{department}}</mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field> -->

</div>