<mat-dialog-content fxLayout="column" [formGroup]="data" (ngSubmit)="add()">
  <mat-form-field fxFlex="50" appearance="outline">
    <mat-label>Funkruf- oder Gerätename</mat-label>
    <input matInput formControlName="name">
    <button type="button" mat-button matSuffix mat-icon-button (click)="toggle()">
      <mat-icon [svgIcon]="isVehicle ? 'truck' : 'technic'"></mat-icon>
    </button>
    <mat-error>Feld wird benötigt</mat-error>
  </mat-form-field>
  <mat-form-field fxFlex appearance="outline">
    <mat-label>Kilometer oder Anzahl</mat-label>
    <input matInput formControlName="amount">
    <mat-error>Feld wird benötigt</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutGap="2.5%">
  <button type="submit" fxFlex mat-button class="add-button" (click)="close()">Schließen</button>
  <button type="submit" fxFlex mat-button color="accent" class="add-button" (click)="add()">Hinzufügen</button>
</mat-dialog-actions>