<mat-toolbar color="primary">
  <span fxHide fxShow.sm fxShow.md fxShow.lg>{{currentAlarm.alarmKeyword}} {{currentAlarm.street}}</span>
  <span fxHide fxShow.sm fxShow.md fxShow.lg class="spacer"></span>
  <span fxHide fxShow.xs fxShow.sm></span>
  
  <button mat-button fxHide fxShow.sm fxShow.md fxShow.lg>
    Bericht erstellen
  </button>
  <button mat-button fxHide fxShow.sm fxShow.md fxShow.lg>
    Bericht öffnen
  </button>
  <button mat-button fxHide fxShow.sm fxShow.md fxShow.lg>
    Bericht speichern
  </button>
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button fxHide fxShow.xs>
      <mat-icon>note_add</mat-icon>
    </button>
    <button mat-icon-button fxHide fxShow.xs>
      <mat-icon>folder_open</mat-icon>
    </button>
    <button mat-icon-button fxHide fxShow.xs>
      <mat-icon>save</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened *ngIf="alarms.length != 0">
    <button mat-button md-truncate *ngFor="let identifier of alarms">{{identifier}}</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab label="Allgemein">
        <app-general [alarm]="currentAlarm"></app-general>
      </mat-tab>
      <mat-tab label="Fahrzeuge">
        <app-vehicles></app-vehicles>
      </mat-tab>
      <mat-tab label="Geräte">
        <app-devices></app-devices>
      </mat-tab>
      <mat-tab label="Mannschaft">Content 4</mat-tab>
      <mat-tab label="Protokoll">Content 5</mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>