.spacer {
    flex: 1 1 auto;
}

.seperator {
    margin-left: 16px;
}

.container {
    background: white;
    height: calc(100vh - 64px);
}

.container .mat-sidenav {
    background: blue;
}

.container .mat-tab-group {
    margin: 1em;
}

@media screen and (max-width: 600px) {
    .container {
        height: calc(100vh - 56px);
    }
}
  