<h1 class="mat-h2">Eintrag bearbeiten</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 30%;">
        <input matInput
               placeholder="Zeit"
               [(ngModel)]="data.time">
    </mat-form-field>
    <mat-form-field style="width: 70%;">
        <input matInput
               placeholder="Text"
               [(ngModel)]="data.text">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button
            (click)="onNoClick()">Abbrechen</button>
    <button mat-button
            [mat-dialog-close]="data"
            cdkFocusInitial>Speichern</button>
</div>