<div class="container">
  <form fxLayoutGap="16px" [formGroup]="formGroup">
    <custom-input fxFlex="60%" label="Einsatzstichwort" [control]="formGroup.get('keyword')" [options]="keywords"
      [showOptionsAlways]="true" (valueChanged)="onKeywordChanged()">
    </custom-input>
    <mat-form-field fxFlex="calc(35% - 16px)" appearance="outline">
      <mat-label>Einsatzart</mat-label>
      <mat-select formControlName="type">
        <mat-option value="Brand">Brand</mat-option>
        <mat-option value="Technisch">Technisch</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form fxLayoutGap="16px" [formGroup]="formGroup">
    <custom-input fxFlex="calc(35% - 16px)" label="Gemeinde" [control]="formGroup.get('parish')" [options]="parishes"
      (valueChanged)="onParishChanged()">
    </custom-input>
    <custom-input fxFlex="60%" label="Einsatzort" [control]="formGroup.get('location')" [options]="filteredLocations"
      (valueChanged)="alarm.location = formGroup.get('location').value">
    </custom-input>
  </form>

  <form fxLayoutGap="16px" [formGroup]="formGroup">
    <mat-form-field fxFlex="calc(35% - 16px)" appearance="outline">
      <mat-label>Alarmiert von</mat-label>
      <mat-select formControlName="alarmed" (selectionChange)="onAlarmedChanged()">
        <mat-option value="LWZ/BWST">LWZ/BWST</mat-option>
        <mat-option value="Andere">Andere</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="60%" appearance="outline">
      <mat-label>Andere</mat-label>
      <input matInput formControlName="others">
      <mat-error>Feld wird benötigt</mat-error>
    </mat-form-field>
  </form>

  <form [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Schadenslage</mat-label>
      <textarea matInput formControlName="damage" cdkTextareaAutosize></textarea>
    </mat-form-field>
  </form>

  <form [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Vorkommnisse</mat-label>
      <textarea matInput formControlName="events" cdkTextareaAutosize></textarea>
    </mat-form-field>
  </form>

  <form [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Tätigkeiten</mat-label>
      <textarea matInput formControlName="activities" cdkTextareaAutosize></textarea>
    </mat-form-field>
  </form>
</div>