<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
    <form fxFlex="calc(50% - 8px)" fxLayout="column" [formGroup]="form">
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="35">
          <mat-label>Alarmtyp</mat-label>
          <mat-select (selectionChange)="alarm.isFire = $event.value === types[0]"
            [value]="alarm.isFire ? types[0] : types[1]">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right" fxFlex="65">
          <mat-label>Alarmart</mat-label>
          <mat-select (selectionChange)="alarm.alarmType = $event.value" [value]="alarm.alarmType">
            <mat-option *ngFor="let alarmType of alarmTypes" [value]="alarmType">
              {{alarmType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="35">
          <mat-label>Alarmiert von</mat-label>
          <mat-select (selectionChange)="onAlarmedChanged($event)" [value]="alarm.alarmedBy">
            <mat-option *ngFor="let option of alarmedByOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="alarm.alarmedBy !== alarmedByOptions[1]" appearance="outline" class="right" fxFlex="65">
          <mat-label>Information</mat-label>
          <input matInput formControlName="others" (input)="alarm.others = form.get('others').value">
          <mat-error>Feld wird benötigt</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="alarm.alarmedBy === alarmedByOptions[1]" appearance="outline" class="right" fxFlex="65">
          <mat-label>Person</mat-label>
          <mat-select formControlName="others" (selectionChange)="alarm.others = $event.value">
            <mat-option *ngFor="let officer of officers" [value]="officer">{{officer}}</mat-option>
          </mat-select>
          <mat-error>Feld wird benötigt</mat-error>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Hauptaktivität</mat-label>
          <mat-select formControlName="mainActivity" (selectionChange)="alarm.mainActivity = $event.value">
            <mat-option *ngFor="let activity of mainActivities" [value]="activity">{{activity}}</mat-option>
          </mat-select>
          <mat-error>Feld wird benötigt</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right" fxFlex="50">
          <mat-label>Nebenaktivität</mat-label>
          <mat-select formControlName="sideActivity" (selectionChange)="alarm.sideActivity = $event.value">
            <mat-option *ngFor="let activity of sideActivities" [value]="activity">{{activity}}</mat-option>
          </mat-select>
          <mat-error>Feld wird benötigt</mat-error>
        </mat-form-field>
      </form>

      <mat-form-field appearance="outline">
        <mat-label>Gemeinde</mat-label>
        <input formControlName="parish" matInput (input)="this.alarm.parish = $event.target.value">
        <mat-error>Feld wird benötigt</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Einsatzort</mat-label>
        <input formControlName="location" matInput (input)="this.alarm.location = $event.target.value">
        <mat-error>Feld wird benötigt</mat-error>
      </mat-form-field>

      <form [formGroup]="form">
        <mat-form-field fxFlex="50" appearance="outline" class="left is-center" floatLabel="always">
          <mat-label>Verletzte Personen</mat-label>
          <input formControlName="injuredPeople" matInput min="0" placeholder="0" type="number"
            (input)="alarm.involved[0] = $event.target.value">
          <mat-error>Ungültiger Wert</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline" class="right is-center" floatLabel="always">
          <mat-label>Getötete Personen</mat-label>
          <input formControlName="killedPeople" matInput min="0" placeholder="0" type="number"
            (input)="alarm.involved[1] = $event.target.value">
          <mat-error>Ungültiger Wert</mat-error>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field fxFlex="50" appearance="outline" class="left is-center" floatLabel="always">
          <mat-label>Verletzte Tiere</mat-label>
          <input formControlName="injuredAnimals" matInput placeholder="0" type="number"
            (input)="alarm.involved[2] = $event.target.value">
          <mat-error>Ungültiger Wert</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline" class="right is-center" floatLabel="always">
          <mat-label>Getötete Tiere</mat-label>
          <input formControlName="killedAnimals" matInput placeholder="0" type="number"
            (input)="alarm.involved[3] = $event.target.value">
          <mat-error>Ungültiger Wert</mat-error>
        </mat-form-field>
      </form>

      <mat-form-field appearance="outline">
        <mat-label>Wetter</mat-label>
        <mat-select (selectionChange)="alarm.weather = $event.value" [value]="alarm.weather">
          <mat-option *ngFor="let option of weatherOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider fxHide fxShow.xs style="margin-bottom: 33.5px"></mat-divider>
    </form>

    <form fxFlex="calc(50% - 8px)" fxLayout="column" [formGroup]="form">
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="alarmedDate" matInput readonly [matDatepicker]="alarmedPicker"
            (click)="alarmedPicker.open()" />
          <mat-datepicker #alarmedPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Alarmiert</mat-label>
          <input formControlName="alarmed" matInput type="time" (click)="setCurrentTime('alarmed')" />
          <button mat-icon-button matSuffix (click)="setCurrentTime('alarmed')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="engagedDate" matInput readonly [matDatepicker]="engagedPicker"
            (click)="engagedPicker.open()" />
          <mat-datepicker #engagedPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Ausgerückt</mat-label>
          <input formControlName="engaged" matInput type="time" (click)="setCurrentTime('engaged')" />
          <button mat-icon-button matSuffix (click)="setCurrentTime('engaged')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="reachedDate" matInput readonly [matDatepicker]="reachedPicker"
            (click)="reachedPicker.open()" />
          <mat-datepicker #reachedPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Am Einsatzort</mat-label>
          <input formControlName="reached" matInput type="time" (click)="setCurrentTime('reached')" />
          <button mat-icon-button matSuffix (click)="setCurrentTime('reached')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="stopDate" matInput readonly [matDatepicker]="stopPicker"
            (click)="stopPicker.open()" />
          <mat-datepicker #stopPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Alarmstopp</mat-label>
          <input formControlName="stop" matInput type="time" (click)="setCurrentTime('stop')" />
          <button mat-icon-button matSuffix (click)="setCurrentTime('stop')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="indentedDate" matInput readonly [matDatepicker]="indentedPicker"
            (click)="indentedPicker.open()" />
          <mat-datepicker #indentedPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Eingerückt</mat-label>
          <input formControlName="indented" matInput type="time" (click)="setCurrentTime('indented')" />
          <button mat-icon-button matSuffix (click)="setCurrentTime('indented')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="readyDate" matInput readonly [matDatepicker]="readyPicker"
            (click)="readyPicker.open()" />
          <mat-datepicker #readyPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Einsatzbereit</mat-label>
          <input formControlName="ready" matInput type="time" (click)="setCurrentTime('ready')" />
          <button mat-icon-button matSuffix (click)="setCurrentTime('ready')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <form *ngIf="alarm.alarmType === alarmTypes[1]" fxLayout="row" [formGroup]="form">
        <mat-form-field appearance="outline" class="left" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input class="date" formControlName="fireOutDate" matInput readonly [matDatepicker]="fireOutPicker"
            (click)="fireOutPicker.open()" />
          <mat-datepicker #fireOutPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="true" appearance="outline" class="right fix-time is-center" fxFlex="50">
          <mat-label>Brand aus</mat-label>
          <input formControlName="fireOut" matInput type="time" (click)="setCurrentTime('fireOut')">
          <button mat-icon-button matSuffix (click)="setCurrentTime('fireOut')">
            <mat-icon>schedule</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </form>
  </div>

  <mat-divider style="margin-bottom: 33.5px"></mat-divider>

  <form [formGroup]="form" (submit)="onSubmitDepartment()">
    <mat-form-field appearance="outline" class="left" fxFlex="80">
      <mat-label>Feuerwehr</mat-label>
      <input formControlName="department" matInput [matAutocomplete]="complete" (input)="filter()">
      <mat-autocomplete #complete="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let department of filteredDepartments" [value]="department">
          {{department}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button class="form-submit-button right" color="accent" fxFlex="20" mat-stroked-button type="submit">
      <span fxHide.xs fxShow>Hinzufügen</span>
      <mat-icon fxHide.gt-xs fxShow.xs svgIcon="add"></mat-icon>
    </button>
  </form>

  <form [formGroup]="form">
    <mat-form-field *ngIf="alarm.departments.length !== 0" appearance="outline" floatLabel="always" fxFlex>
      <mat-label>Involvierte Feuerwehren</mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let department of alarm.departments" [color]="department.isHead ? 'accent' : ''"
          [selected]="department.isHead" (click)="select(department)" (removed)="removeDepartment(department)">
          {{department.name}}
          <mat-icon *ngIf="department.name !== 'Marchtrenk'" matChipRemove svgIcon="cancel"></mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </form>

  <form [formGroup]="form" (submit)="onSubmitOrganisation()">
    <mat-form-field appearance="outline" class="left" fxFlex="80">
      <mat-label>Organisation</mat-label>
      <mat-select formControlName="organisation">
        <mat-option *ngFor="let organisation of organisations" [value]="organisation">{{organisation}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="form-submit-button right" color="accent" fxFlex="20" mat-stroked-button type="submit">
      <span fxHide.xs fxShow>Hinzufügen</span>
      <mat-icon fxHide.gt-xs fxShow.xs svgIcon="add"></mat-icon>
    </button>
  </form>

  <form fxLayout="column" [formGroup]="form">
    <mat-form-field *ngIf="alarm.departments.length !== 0" appearance="outline" floatLabel="always" fxFlex>
      <mat-label>Involvierte Organisationen</mat-label>
      <mat-chip-list>
        <mat-chip *ngIf="alarm.organisations.length === 0" style="visibility: hidden;"></mat-chip>
        <mat-chip *ngFor="let organisation of alarm.organisations" (removed)="removeOrganisation(organisation)">
          {{organisation}}
          <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </form>

  <mat-divider style="margin-bottom: 33.5px"></mat-divider>

  <form fxLayout="column" [formGroup]="form">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Schadenslage</mat-label>
      <textarea matInput formControlName="damage" cdkTextareaAutosize
        (input)="alarm.damage = form.get('damage').value"></textarea>
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label>Vorkommnisse</mat-label>
      <textarea matInput formControlName="events" cdkTextareaAutosize
        (input)="alarm.events = form.get('events').value"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Tätigkeiten</mat-label>
      <textarea matInput formControlName="activities" cdkTextareaAutosize
        (input)="alarm.activities = form.get('activities').value"></textarea>
    </mat-form-field>
  </form>
</div>