<mat-dialog-content fxLayout="column" [formGroup]="data" (ngSubmit)="add()">
  <mat-form-field fxFlex appearance="outline">
    <mat-label>Nachricht</mat-label>
    <input matInput formControlName="message">
    <mat-error>Feld wird benötigt</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutGap="2.5%">
  <button type="submit" fxFlex mat-button class="add-button" (click)="close()">Schließen</button>
  <button type="submit" fxFlex mat-button color="accent" class="add-button" (click)="add()">Hinzufügen</button>
</mat-dialog-actions>