<h1 class="mat-h2">Eintrag bearbeiten</h1>
<div mat-dialog-content fxLayout="row">
    <mat-form-field fxFlex>
        <input matInput placeholder="{{data.type ? 'Fahrzeugname' : 'Gerätename'}}" [(ngModel)]="data.instrument.name">
    </mat-form-field>
    <mat-form-field fxFlex="20">
        <input matInput placeholder="Anzahl" type="number" min="1" [(ngModel)]="data.instrument.count" [style.text-align]="data.type ? 'right' : 'left'">
        <span matSuffix *ngIf="data.type">km</span>
    </mat-form-field>
    <mat-form-field fxFlex="10" *ngIf="!data.type">
        <mat-select placeholder="Einheit" name="unit" [(ngModel)]="data.instrument.unit">
            <mat-option value="Stück">Stück</mat-option>
            <mat-option value="Sack">Sack</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
</div>