<div class="container">
  <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="16px">
    <form fxFlex.gt-xs="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field fxFlex="calc(100% / 2)" appearance="outline" class="left" floatLabel="always">
        <mat-label>Verletzte Personen</mat-label>
        <input matInput formControlName="hurtPeople" placeholder="0" type="number" min="0"
          (input)="alarm.involved[0] = form.get('hurtPeople').value">
        <mat-error>Ungültiger Wert</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="calc(100% / 2)" appearance="outline" class="right" floatLabel="always">
        <mat-label>Getötete Personen</mat-label>
        <input matInput formControlName="killedPeople" placeholder="0" type="number"
          (input)="alarm.involved[1] = form.get('killedPeople').value">
        <mat-error>Ungültiger Wert</mat-error>
      </mat-form-field>
    </form>

    <form fxFlex.gt-xs="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field fxFlex="calc(100% / 2)" appearance="outline" class="left" floatLabel="always">
        <mat-label>Verletzte Tiere</mat-label>
        <input matInput formControlName="hurtAnimals" placeholder="0" type="number"
          (input)="alarm.involved[2] = form.get('hurtAnimals').value">
        <mat-error>Ungültiger Wert</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="calc(100% / 2)" appearance="outline" class="right" floatLabel="always">
        <mat-label>Getötete Tiere</mat-label>
        <input matInput formControlName="killedAnimals" placeholder="0" type="number"
          (input)="alarm.involved[3] = form.get('killedAnimals').value">
        <mat-error>Ungültiger Wert</mat-error>
      </mat-form-field>
    </form>
  </div>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always" fxFlexFill fxHide.xs fxShow>
      <mat-label>Wetter</mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let option of weatherOptions" (click)="alarm.weather = option"
          [color]="alarm.weather === option ? 'accent' : ''" [selected]="alarm.weather === option">
          {{option}}
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlexFill fxHide fxShow.xs>
      <mat-label>Wetter</mat-label>
      <mat-select (selectionChange)="alarm.weather = $event.value" [value]="alarm.weather">
        <mat-option *ngFor="let option of weatherOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form [formGroup]="form">
    <mat-form-field fxFlex appearance="outline" fxFlexFill fxHide.xs fxShow>
      <mat-label>Alarmart</mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let alarmType of alarmTypes" (click)="alarm.alarmType = alarmType"
          [color]="alarm.alarmType === alarmType ? 'accent' : ''" [selected]="alarm.alarmType === alarmType">
          {{alarmType}}
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlexFill fxHide fxShow.xs>
      <mat-label>Alarmart</mat-label>
      <mat-select (selectionChange)="alarm.alarmType = $event.value" [value]="alarm.alarmType">
        <mat-option *ngFor="let alarmType of alarmTypes" [value]="alarmType">
          {{alarmType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form *ngIf="alarm.isFire && alarm.alarmType === 'Realbrand'" fxLayout="row" [formGroup]="form">
    <mat-form-field appearance="outline" class="left" fxFlex="50" fxFlex.gt-md="25">
      <mat-label>Datum</mat-label>
      <input formControlName="fireOutDate" matInput readonly [matDatepicker]="fireOutPicker"
        (click)="fireOutPicker.open()" />
      <mat-datepicker #fireOutPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="true" appearance="outline" class="right fix-time" fxFlex="50" fxFlex.gt-md="25"
      (click)="setCurrentTime('fireOut')">
      <mat-label>Brand aus</mat-label>
      <input matInput formControlName="fireOut" type="time">
    </mat-form-field>
  </form>
</div>