.spacer {
  flex: 1 1 auto;
}

.container {
  background: white;
  height: calc(100vh - 64px);
}

.sidenav {
  width: 10vw;
}

.item {
  text-align: center;
  margin: 0 !important;
  padding: 4px 0 4px 0;
  transition: all 0.2s;
}

.item:hover {
  background: #EFEFF0;
  cursor: pointer;
}