<mat-toolbar color="primary">
  <span>{{currentAlarm.alarmKeyword}} {{currentAlarm.street}}</span>
  <span class="spacer"></span>
  <button mat-button fxHide.lt-md>Bericht erstellen</button>
  <button mat-button fxHide.lt-md>Bericht öffnen</button>
  <button mat-button fxHide.lt-md>Bericht speichern</button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened *ngIf="alarms.length != 0">
    <button mat-button md-truncate *ngFor="let identifier of alarms">{{identifier}}</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab label="Allgemein">
        <app-general [alarm]="currentAlarm"></app-general>
      </mat-tab>

      <mat-tab label="Fahrzeuge und Geräte">
        <app-instruments [alarm]="currentAlarm"></app-instruments>
      </mat-tab>

      <mat-tab label="Mannschaft">
        <app-team [alarm]="currentAlarm"></app-team>
      </mat-tab>

      <mat-tab label="Protokoll">
        <app-protocol [alarm]="currentAlarm"></app-protocol>
      </mat-tab>
      <mat-tab label="Verrechnung"></mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>