<div class="container" fxLayout="column">
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0" fxLayoutGap.gt-md="16px">
    <form fxFlex fxFlex.gt-md="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field appearance="outline" class="left" fxFlex="50">
        <mat-label>Datum</mat-label>
        <input formControlName="alarmedDate" matInput readonly [matDatepicker]="alarmedPicker"
          (click)="alarmedPicker.open()" />
        <mat-datepicker #alarmedPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="right fix-time" fxFlex="50" (click)="setCurrentTime('alarmed')">
        <mat-label>Alarmiert</mat-label>
        <input matInput formControlName="alarmed" type="time" />
        <mat-error *ngIf="form.invalid">{{getErrorMessage('alarmed')}}</mat-error>
      </mat-form-field>
    </form>

    <form fxFlex fxFlex.gt-md="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field appearance="outline" class="left" fxFlex="50">
        <mat-label>Datum</mat-label>
        <input formControlName="engagedDate" matInput readonly [matDatepicker]="engagedPicker"
          (click)="engagedPicker.open()" />
        <mat-datepicker #engagedPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="right fix-time" fxFlex="50" (click)="setCurrentTime('engaged')">
        <mat-label>Ausgerückt</mat-label>
        <input matInput formControlName="engaged" type="time" />
        <mat-error *ngIf="form.invalid">{{getErrorMessage('engaged')}}</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0" fxLayoutGap.gt-md="16px">
    <form fxFlex fxFlex.gt-md="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field appearance="outline" class="left" fxFlex="50">
        <mat-label>Datum</mat-label>
        <input formControlName="reachedDate" matInput readonly [matDatepicker]="reachedPicker"
          (click)="reachedPicker.open()" />
        <mat-datepicker #reachedPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="right fix-time" fxFlex="50" (click)="setCurrentTime('reached')">
        <mat-label>Einsatzort</mat-label>
        <input matInput formControlName="reached" type="time" />
        <mat-error *ngIf="form.invalid">{{getErrorMessage('reached')}}</mat-error>
      </mat-form-field>
    </form>

    <form fxFlex fxFlex.gt-md="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field appearance="outline" class="left" fxFlex="50">
        <mat-label>Datum</mat-label>
        <input formControlName="stopDate" matInput readonly [matDatepicker]="stopPicker" (click)="stopPicker.open()" />
        <mat-datepicker #stopPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="right fix-time" fxFlex="50" (click)="setCurrentTime('stop')">
        <mat-label>Alarmstopp</mat-label>
        <input matInput formControlName="stop" type="time" />
        <mat-error *ngIf="form.invalid">{{getErrorMessage('stop')}}</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0" fxLayoutGap.gt-md="16px">
    <form fxFlex fxFlex.gt-md="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field appearance="outline" class="left" fxFlex="50">
        <mat-label>Datum</mat-label>
        <input formControlName="indentedDate" matInput readonly [matDatepicker]="indentedPicker"
          (click)="indentedPicker.open()" />
        <mat-datepicker #indentedPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="right fix-time" fxFlex="50" (click)="setCurrentTime('indented')">
        <mat-label>Eingerückt</mat-label>
        <input matInput formControlName="indented" type="time" />
        <mat-error *ngIf="form.invalid">{{getErrorMessage('indented')}}</mat-error>
      </mat-form-field>
    </form>

    <form fxFlex fxFlex.gt-md="calc(100% / 2 - 8px)" [formGroup]="form">
      <mat-form-field appearance="outline" class="left" fxFlex="50">
        <mat-label>Datum</mat-label>
        <input formControlName="readyDate" matInput readonly [matDatepicker]="readyPicker"
          (click)="readyPicker.open()" />
        <mat-datepicker #readyPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="right fix-time" fxFlex="50" (click)="setCurrentTime('ready')">
        <mat-label>Einsatzbereit</mat-label>
        <input matInput formControlName="ready" type="time" />
        <mat-error *ngIf="form.invalid">{{getErrorMessage('ready')}}</mat-error>
      </mat-form-field>
    </form>
  </div>
</div>