<mat-dialog-content>
  <h2 mat-dialog-title>Position auswählen</h2>
  <form fxLayout="column" [formGroup]="form">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of positions" [value]="position">{{position}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="isVisible" appearance="outline" class="flawless" fxFlex>
      <mat-label>Fahrzeug</mat-label>
      <mat-select formControlName="vehicle">
        <mat-option *ngFor="let vehicle of data.vehicles" [value]="vehicle">{{vehicle}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button color="primary" mat-stroked-button>Fertig</button>
</mat-dialog-content>