<div class="content"
     fxLayout="column"
     fxLayout.gt="row">
  <form>
    <mat-form-field fxFlex="calc(25%)">
      <mat-select placeholder="Alarmiert von" [(ngModel)]="alertedBy" [ngModelOptions]="{standalone: true}">
        <mat-option value="0">BWST/LWZ</mat-option>
        <mat-option value="1">OvD</mat-option>
        <mat-option value="2">Andere</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="calc(25% - 10px)" fxFlexOffset="10px" *ngIf="alertedBy == 2">
      <input matInput placeholder="Andere">
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 10px)" fxFlexOffset="10px">
      <mat-select placeholder="Alarmiert mittels" multiple>
          <mat-option value="0">Sammelruf</mat-option>
          <mat-option value="1">Mannschaft erforderlich</mat-option>
          <mat-option value="2">Kleineinsatz</mat-option>
          <mat-option value="3">Gruppe 1</mat-option>
          <mat-option value="4">Gruppe 2</mat-option>
          <mat-option value="5">Sonderkraftfahrer</mat-option>
          <mat-option value="6">Kommando</mat-option>
          <mat-option value="7">Wasserdienst</mat-option>
          <mat-option value="8">Telefon</mat-option>
          <mat-option value="9">Mannschaft ist im Feuerwehrhaus</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form>
    <table mat-table [dataSource]="elements" class="mat-elevation-z8" style="width: 100%">
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
    
      <!-- Input Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Zeit</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput placeholder="Zeit" value="{{element.time}}">
          </mat-form-field>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>

</div>