.container {
  width: 80%;
  margin: 2.5% 10%;
}

@media screen and (max-width: 959px) {
  .container {
    width: 95vw;
    margin: 2.5vw 2.5vw;
  }
}

.time {
    visibility: collapse;
    height: 0;
    width: 0;
}