<div class="container">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
    <mat-card fxFlex="49%" fxFlex.lt-md="100">
      <form fxLayout="row" fxLayoutGap="2%">
        <mat-form-field fxFlex="74%" appearance="standard">
          <mat-label>Einsatzstichwort</mat-label>
          <input matInput placeholder="z.B. Brandmeldealarm">
        </mat-form-field>

        <mat-form-field fxFlex="24%" appearance="standard">
          <mat-select [value]="alarm.isFireAlarmType == true ? '1' : '0'">
            <mat-option value="1">Brand</mat-option>
            <mat-option value="0">Technisch</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card>

    <mat-card fxFlex>
      <form fxLayout="row" fxLayoutGap="2%">
        <mat-form-field fxFlex="59%" appearance="standard">
          <mat-label>Straße</mat-label>
          <input matInput placeholder="z.B. Linzer Straße 43">
        </mat-form-field>

        <mat-form-field fxFlex="39%" appearance="standard">
          <mat-label>Gemeinde</mat-label>
          <input matInput placeholder="Marchtrenk">
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <br />

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zeiten
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
        <app-time-input fxFlex="32" [label]="'Alarmiert'" [dateTime]="alarm.preparednessTime"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Ausfahrt'" [dateTime]="alarm.preparednessTime"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Am Einsatzort'" [dateTime]="alarm.preparednessTime"></app-time-input>
      </form>

      <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
        <app-time-input fxFlex="32" [label]="'Alarm Stopp'" [dateTime]="alarm.preparednessTime"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Wieder Einsatzbereit'" [dateTime]="alarm.preparednessTime"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Einsatz Ende'" [dateTime]="alarm.preparednessTime"></app-time-input>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alarmierung
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
        <mat-form-field fxFlex appearance="standard">
          <mat-select name="alarmedBy" placeholder="Alarmiert von" [(ngModel)]="alarm.alarmedBy" (ngModelChange)="enableOthers()">
            <mat-option value="0">BWST/LWZ</mat-option>
            <mat-option value="1">OvD</mat-option>
            <mat-option value="2">Andere</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="60%" appearance="standard">
          <mat-label>Andere</mat-label>
          <input matInput placeholder="z.B. Telefon" disabled="{{isOthersSelected}}">
        </mat-form-field>
      </form>

      <form fxLayout="row" fxLayout.lt-md="column">
        <mat-form-field fxFlex appearance="standard">
          <mat-label>Eingesetzte Feuerwehren</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let department of alarm.departments; let i = index" selected="{{department.isHeadOfOperation}}"
              (click)="setHeadOfOperation(department)" [removable]="i >= 1" (removed)="remove(department)">
              {{department.name}}
              <mat-icon matChipRemove *ngIf="i >= 1">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)" appearance="standard" />
          </mat-chip-list>
        </mat-form-field>
      </form>

      <form fxLayout="row" fxLayout-lt-md="column">
        <mat-form-field fxFlex appearance="standard">
          <mat-label>Eingesetzte Organisationen</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let department of alarm.departments; let i = index" selected="{{department.isHeadOfOperation}}"
              (click)="setHeadOfOperation(department)" [removable]="i >= 1" (removed)="remove(department)">
              {{department.name}}
              <mat-icon matChipRemove *ngIf="i >= 1">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)" appearance="standard" />
          </mat-chip-list>
        </mat-form-field>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ablauf
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form fxLayout="column">
        <mat-form-field fxFlex>
          <textarea matInput name="qualityOfDamage" placeholder="Schadenslage" [(ngModel)]="alarm.qualityOfDamage"></textarea>
        </mat-form-field>

        <mat-form-field fxFlex>
          <textarea matInput name="occurrences" placeholder="Vorkommnisse" [(ngModel)]="alarm.occurrences"></textarea>
        </mat-form-field>

        <mat-form-field fxFlex>
          <textarea matInput name="activities" placeholder="Tätigkeiten" [(ngModel)]="alarm.activities"></textarea>
        </mat-form-field>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sonstiges
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form fxLayout="row" fxLayoutGap="2%">
        <mat-form-field fxFlex="29%" appearance="standard">
          <mat-label>Temperatur</mat-label>
          <input matInput placeholder="15.6" type="number" style="text-align: right">
          <span matSuffix>° C</span>
        </mat-form-field>

        <mat-form-field fxFlex="69%" appearance="standard">
          <input matInput placeholder="Wetter">
        </mat-form-field>
      </form>

      <mat-checkbox color="primary" appearance="standard">Kosten bereits bezahlt</mat-checkbox>

      <form fxFlex="100" fxLayout="row">
        <mat-form-field fxFlex="25">
          <input matInput placeholder="Anzahl geretteter Menschen" min="0" type="number" style="text-align: right">
        </mat-form-field>
        <mat-form-field fxFlex="25" fxFlexOffset="1">
          <input matInput placeholder="Anzahl der geborgener Menschen" min="0" type="number" style="text-align: right">
        </mat-form-field>
        <mat-form-field fxFlex="25" fxFlexOffset="1">
          <input matInput placeholder="Anzahl der geretteten Tiere" min="0" type="number" style="text-align: right">
        </mat-form-field>
        <mat-form-field fxFlex="25" fxFlexOffset="1">
          <input matInput placeholder="Anzahl der geborgenen Tiere" min="0" type="number" style="text-align: right">
        </mat-form-field>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Einsatzspezifische Informationen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Not implemented yet!</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!--<div class="content">
  <form fxLayout="row">
    <mat-card fxFlex="50" fxLayout="row">
      <mat-form-field fxFlex="75">
        <input matInput placeholder="Alarmstichwort" name="keyword" (keyup)="checkAlarmKeyword()" [matAutocomplete]="auto" [(ngModel)]="alarm.alarmKeyword">
        <mat-autocomplete autoActiveFirstOption (optionSelected)="checkAlarmKeyword()" #auto="matAutocomplete">
          <mat-option *ngFor="let keyword of filteredKeywords" [value]="keyword">
            <span>{{keyword}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <mat-select placeholder="Einsatztyp" [value]="alarm.isFireAlarmType == true ? '1' : '0'">
          <mat-option value="1">Brand</mat-option>
          <mat-option value="0">Technisch</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <mat-card fxFlex="50" fxLayout="row">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Straße" name="street" [(ngModel)]="alarm.street">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <input matInput placeholder="Gemeinde" name="parish" (focus)="setDefaultParish()" [(ngModel)]="alarm.parish">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <input matInput placeholder="Bezirk" name="district" (focus)="setDefaultDistrict()" [(ngModel)]="alarm.district">
      </mat-form-field>
    </mat-card>
  </form>

  <form fxLayout="row">
    <mat-accordion fxFlex>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zeiten
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Startzeit">
              <input matInput [matDatepicker]="startTimePicker" name="startTime" [(ngModel)]="alarm.startTime" class="time">
              <mat-hint>{{format(alarm.startTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #startTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="Ausgerückt">
              <input matInput [matDatepicker]="engagedTimePicker" name="engagedTime" [(ngModel)]="alarm.engagedTime" class="time">
              <mat-hint>{{format(alarm.engagedTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="engagedTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #engagedTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="1. Fahrzeug am Einsatzort">
              <input matInput [matDatepicker]="firstVehicleTimePicker" name="firstVehicleTime" [(ngModel)]="alarm.firstVehicleTime" class="time">
              <mat-hint>{{format(alarm.firstVehicleTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="firstVehicleTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #firstVehicleTimePicker></mat-datepicker>
            </mat-form-field>
          </form>
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Alarm Stopp">
              <input matInput [matDatepicker]="alarmStopTimePicker" name="alarmStopTime" [(ngModel)]="alarm.alarmStopTime" class="time">
              <mat-hint>{{format(alarm.alarmStopTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="alarmStopTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #alarmStopTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="Einsatzbereitschaft wiederhergestellt">
              <input matInput [matDatepicker]="preparednessTimePicker" name="preparednessTime" [(ngModel)]="alarm.preparednessTime" class="time">
              <mat-hint>{{format(alarm.preparednessTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="preparednessTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #preparednessTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="Endzeit">
              <input matInput [matDatepicker]="endTimePicker" name="endTime" [(ngModel)]="alarm.endTime" class="time">
              <mat-hint>{{format(alarm.endTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #endTimePicker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alarmierung
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex>
              <mat-select name="alarmedBy" placeholder="Alarmiert von" [(ngModel)]="alarm.alarmedBy" (ngModelChange)="enableOthers()">
                <mat-option value="0">BWST/LWZ</mat-option>
                <mat-option value="1">OvD</mat-option>
                <mat-option value="2">Andere</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="60" fxFlexOffset="1">
              <input matInput placeholder="Andere" disabled="{{isOthersSelected}}">
            </mat-form-field>
          </form>
          <p>
            <b>Alarmierung mittels</b>
          </p>
          <form fxFlex="100" fxLayout="column">
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(0)">Feuer</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(1)">Sammelruf</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(2)">Mannschaft erforderlich</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(3)">Kleineinsatz</mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(4)">Gruppe 1</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(5)">Gruppe 2</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(6)">Sonderkraftfahrer</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(7)">Kommando</mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(8)">Wasserdienst</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(9)">Telefon</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setAlarmedOver(10)">Mannschaft ist im Feuerwehrhaus</mat-checkbox>
            </div>
          </form>
          <p>
            <b>Organisationen</b>
          </p>
          <form fxFlex="100" fxLayout="column">
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(0)">Rettungsdienst</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(1)">Polizei</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(2)">Abschleppdienst</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(3)">Gemeinde</mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(4)">BH</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(5)">Stromversorger</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(6)">Gasunternehmen</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(7)">ÖBB</mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(8)">Staßenmeisterei</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(9)">Bestatter</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(10)">AFK</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary" (click)="setOrganisation(11)">BFK</mat-checkbox>
            </div>
          </form>
          <br/>
          <mat-form-field fxFlex="100">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let department of alarm.departments; let i = index" [removable]="i >= 1" (removed)="remove(department)">
                {{department.name}}
                <mat-icon matChipRemove *ngIf="i >= 1">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Eingesetzte Feuerwehren" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Schadenslage, Tätigkeiten und Probleme
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <mat-form-field fxFlex="100">
            <textarea matInput name="qualityOfDamage" placeholder="Schadenslage" [(ngModel)]="alarm.qualityOfDamage"></textarea>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput name="occurrences" placeholder="Vorkommnisse" [(ngModel)]="alarm.occurrences"></textarea>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput name="activities" placeholder="Tätigkeiten" [(ngModel)]="alarm.activities"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sonstiges
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex>
              <input matInput placeholder="Temperatur" type="number" style="text-align: right">
              <span matSuffix>° C</span>
            </mat-form-field>
            <mat-form-field fxFlex="70" fxFlexOffset="1">
              <input matInput placeholder="Wetter">
            </mat-form-field>
          </form>
          <mat-checkbox color="primary">Kosten bereits bezahlt</mat-checkbox>
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Anzahl geretteter Menschen" min="0" type="number" style="text-align: right">
            </mat-form-field>
            <mat-form-field fxFlex="25" fxFlexOffset="1">
              <input matInput placeholder="Anzahl der geborgener Menschen" min="0" type="number" style="text-align: right">
            </mat-form-field>
            <mat-form-field fxFlex="25" fxFlexOffset="1">
              <input matInput placeholder="Anzahl der geretteten Tiere" min="0" type="number" style="text-align: right">
            </mat-form-field>
            <mat-form-field fxFlex="25" fxFlexOffset="1">
              <input matInput placeholder="Anzahl der geborgenen Tiere" min="0" type="number" style="text-align: right">
            </mat-form-field>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Einsatzspezifische Informationen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Not implemented yet!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>-->