<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
        <mat-card fxFlex="49%" fxFlex.lt-md="100">
            <form fxLayout="row" fxLayoutGap="2%">
                <mat-form-field fxFlex="74%" appearance="standard">
                    <mat-label>Einsatzstichwort</mat-label>
                    <input matInput name="alarmKeyword" placeholder="z.B. Brandmeldealarm" [formControl]="alarmKeywordFormControl"
                        (keyup)="setAlarmType()" [(ngModel)]="alarm.alarmKeyword">
                    <mat-error *ngIf="alarmKeywordFormControl.hasError('required')">Einsatzstichwort wird benötigt</mat-error>
                    <mat-error *ngIf="alarmKeywordFormControl.hasError('validKeyword') && !alarmKeywordFormControl.hasError('required')">
                        Ungültiges Stichwort
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="24%" appearance="standard">
                    <mat-label>Alarmart</mat-label>
                    <mat-select name="alarmType" [(ngModel)]="alarm.isFireAlarmType">
                        <mat-option [value]="true">Brand</mat-option>
                        <mat-option [value]="false">Technisch</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card>

        <mat-card fxFlex>
            <form fxLayout="row" fxLayoutGap="2%">
                <mat-form-field fxFlex="59%" appearance="standard">
                    <mat-label>Straße</mat-label>
                    <input matInput name="street" placeholder="z.B. Linzer Straße 43" [formControl]="streetFormControl"
                        [(ngModel)]="alarm.street">
                    <mat-error *ngIf="streetFormControl.hasError('required')">Straße wird benötigt</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="39%" appearance="standard">
                    <mat-label>Gemeinde</mat-label>
                    <input matInput name="parish" placeholder="Marchtrenk" [formControl]="parishFormControl"
                        [(ngModel)]="alarm.parish">
                    <mat-error *ngIf="parishFormControl.hasError('required')">Gemeinde wird benötigt</mat-error>
                </mat-form-field>
            </form>
        </mat-card>
    </div>

    <br />

    <mat-accordion>
        <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zeiten
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
        <app-time-input fxFlex="32" [label]="'Alarmiert'" [dateTime]="alarm.start"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Ausfahrt'" [dateTime]="alarm.engaged"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Am Einsatzort'" [dateTime]="alarm.firstVehicleAtOperation"></app-time-input>
      </form>

      <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
        <app-time-input fxFlex="32" [label]="'Alarm Stopp'" [dateTime]="alarm.alarmStop"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Wieder Einsatzbereit'" [dateTime]="alarm.operational"></app-time-input>
        <app-time-input fxFlex="32" [label]="'Einsatz Ende'" [dateTime]="alarm.end"></app-time-input>
      </form>
    </mat-expansion-panel> -->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Alarmierung
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Alarmiert von</mat-label>
                    <mat-select name="alarmedBy" placeholder="Alarmiert von" [(ngModel)]="alarm.alarmedBy"
                        (ngModelChange)="enableOthers()">
                        <mat-option value="0">BWST/LWZ</mat-option>
                        <mat-option value="1">OvD</mat-option>
                        <mat-option value="2">Andere</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="60%" appearance="standard">
                    <mat-label>Andere</mat-label>
                    <input matInput name="otherAlert" placeholder="z.B. Telefon" [(ngModel)]="alarm.other" disabled="{{isOthersSelected}}">
                </mat-form-field>
            </form>

            <form fxLayout="row" fxLayout.lt-md="column">
                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Eingesetzte Feuerwehren</mat-label>
                    <mat-chip-list #departmentList>
                        <mat-chip *ngFor="let department of alarm.departments; let i = index" selected="{{department.isHeadOfOperation}}"
                            (click)="setHeadOfOperation(department)" [removable]="i >= 1" (removed)="remove(department)">
                            {{department.name}}
                            <mat-icon matChipRemove *ngIf="i >= 1">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="departmentList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)" appearance="standard" />
                    </mat-chip-list>
                </mat-form-field>
            </form>

            <mat-chip-list fxLayout="row" fxLayout-lt-md="column" #organisationList>
                <mat-chip *ngFor="let organisation of organisations" [color]="organisation.isSelected ? 'primary' : 'default'"
                    (click)="selectOrganisation(organisation)" selected>
                    {{organisation.name}}
                </mat-chip>
            </mat-chip-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ablauf
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form fxLayout="column">
                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Schadenslage</mat-label>
                    <textarea matInput name="qualityOfDamage" [(ngModel)]="alarm.qualityOfDamage"></textarea>
                </mat-form-field>

                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Tätigkeiten</mat-label>
                    <textarea matInput name="occurrences" [(ngModel)]="alarm.occurrences"></textarea>
                </mat-form-field>

                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Probleme</mat-label>
                    <textarea matInput name="activities" [(ngModel)]="alarm.activities"></textarea>
                </mat-form-field>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sonstiges
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form fxLayout="row" fxLayoutGap="2%">
                <mat-form-field fxFlex="29%" appearance="standard">
                    <mat-label>Temperatur</mat-label>
                    <input matInput name="temperature" placeholder="15.6" type="number" style="text-align: right"
                        [(ngModel)]="alarm.temperature">
                    <span matSuffix>° C</span>
                </mat-form-field>

                <mat-form-field fxFlex="69%" appearance="standard">
                    <mat-label>Wetter</mat-label>
                    <input matInput name="weather" placeholder="sonnig" [(ngModel)]="alarm.weather">
                </mat-form-field>
            </form>
            <mat-checkbox color="primary" appearance="standard" [(ngModel)]="alarm.isPaid">Kosten bereits bezahlt</mat-checkbox>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Geschädigte Personen
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form>
                <mat-chip-list>
                    <mat-chip *ngFor="let person of alarm.injuredPeople" [removable]="true" (removed)="removePerson(person)">
                        <div (click)="openDialog(person)">{{person.firstname}} {{person.lastname}}</div>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <mat-chip selected (click)="openDialog({id: -1, firstname: '', lastname: '', isMale: true, street: '', parish: '', postcode: 4614, phoneNumber: '', email: '', passedOrganisation: ''})">
                        +
                    </mat-chip>
                </mat-chip-list>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Einsatzspezifische Informationen
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Gerettete Personen</mat-label>
                    <input matInput name="rescuedPeople" type="number" [(ngModel)]="alarm.rescuedPersonCount">
                </mat-form-field>

                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Gerettete Tiere</mat-label>
                    <input matInput name="rescuedAnmials" type="number" [(ngModel)]="alarm.rescuedAnimalCount">
                </mat-form-field>

                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Geborgene Personen</mat-label>
                    <input matInput name="securedPeople" type="number" [(ngModel)]="alarm.securedPersonCount">
                </mat-form-field>

                <mat-form-field fxFlex appearance="standard">
                    <mat-label>Geborgene Personen</mat-label>
                    <input matInput name="securedAnmials" type="number" [(ngModel)]="alarm.securedAnimalCount">
                </mat-form-field>
            </form>

            <mat-checkbox color="primary" [(ngModel)]="fire" *ngIf="alarm.isFireAlarmType">Realbrand</mat-checkbox>

            <form fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
                <mat-form-field fxFlex appearance="standard" *ngIf="alarm.alarmKeyword === 'Brandmeldealarm'">
                    <mat-label>Alarmart</mat-label>
                    <mat-select [(ngModel)]="alarm.extras.fireDetectorAlarmType">
                        <mat-option value="Echtalarm">Echtalarm</mat-option>
                        <mat-option value="Fehlalarm">Fehlalarm</mat-option>
                        <mat-option value="Täuschungsalarm">Täuschungsalarm</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <app-time-input fxFlex [label]="'Brand aus'" [dateTime]="alarm.extras.fireOut" *ngIf="fire"></app-time-input> -->
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>