.container {
  width: 80vw;
  margin: 2.5vw 10vw;
}

@media screen and (max-width: 959px) {
  .container {
    width: 95vw;
    margin: 2.5vw 2.5vw;
  }
}

/*.content {
    width: 70%;
    margin: 0 15% 0 15%;
}*/

.time {
    visibility: collapse;
    height: 0;
    width: 0;
}

/*@media screen and (max-width: 959px) {
    .content {
        width: 100%;
        margin: 0;
    }
}

mat-card {
    margin: 10px !important;
}

mat-accordion {
    margin: 10px !important;
}

button {
    margin-top: 12px;
}*/