mat-tab-group {
  height: 100%;
}

mat-toolbar {
  position: sticky !important;
  top: 0;
  z-index: 99;
}

p {
  width: 200%;
  margin: -15px 0 0 0;
  font-size: 12pt;
}

.icon-position {
  margin-bottom: 3px;
}

::ng-deep {
  .mat-tab-body-wrapper {
    height: 100%;
    margin-bottom: 32px;
    overflow-y: auto !important;
  }

  .mat-tab-header {
    background-color: white;
    position: sticky !important;
    top: 64px;
    width: 100vw;
    z-index: 99;

    @media screen and (max-width: 599px) {
      top: 56px;
    }
  }

  .mat-tab-header-pagination-before, .mat-tab-header-pagination-after {
    display: flex !important;
  }
}