mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    width: 270px;

    @media screen and (max-width: 599px) {
      width: 85vw;
    }
  }

  mat-sidenav-content {
    mat-tab-header {
      background: rgba(252, 252, 252, 1);
    }
    
    mat-tab-group {
      overflow: hidden !important;
      height: calc(100vh - 64px);

      @media screen and (max-width: 599px) {
        height: calc(100vh - 56px);
      }
    }
  }
}

mat-toolbar {
  position: sticky !important;
  top: 0;
  z-index: 99;
}

p {
  width: 200%;
  margin: -15px 0 0 0;
  font-size: 12pt;
}

.icon-position {
  margin-bottom: 3px;
}

::ng-deep {
  .mat-tab-header {
    background-color: white;
    position: sticky !important;
    top: 64px;
    width: 100vw;
    z-index: 99;

    @media screen and (max-width: 599px) {
      top: 56px;
    }
  }
}