<div class="content">
  <form fxLayout="row">
    <mat-card fxFlex="50" fxLayout="row">
      <mat-form-field fxFlex="75">
        <input matInput placeholder="Alarmstichwort" name="keyword" (keyup)="checkAlarmKeyword()" [matAutocomplete]="auto" [(ngModel)]="alarm.alarmKeyword">
        <mat-autocomplete autoActiveFirstOption (optionSelected)="checkAlarmKeyword()" #auto="matAutocomplete">
          <mat-option *ngFor="let keyword of filteredKeywords" [value]="keyword">
            <span>{{keyword}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <mat-select placeholder="Einsatztyp" [value]="alarm.isFireAlarmType == true ? '1' : '0'">
          <mat-option value="1">Brand</mat-option>
          <mat-option value="0">Technisch</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <mat-card fxFlex="50" fxLayout="row">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Straße" name="street" [(ngModel)]="alarm.street">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <input matInput placeholder="Gemeinde" name="parish" (focus)="setDefaultParish()" [(ngModel)]="alarm.parish">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <input matInput placeholder="Bezirk" name="district" (focus)="setDefaultDistrict()" [(ngModel)]="alarm.district">
      </mat-form-field>
    </mat-card>
  </form>
  <form fxLayout="row">
    <mat-accordion fxFlex>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zeiten
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Startzeit">
              <input matInput [matDatepicker]="startTimePicker" name="startTime" [(ngModel)]="alarm.startTime" class="time">
              <mat-hint>{{format(alarm.startTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #startTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="Ausgerückt">
              <input matInput [matDatepicker]="engagedTimePicker" name="engagedTime" [(ngModel)]="alarm.engagedTime" class="time">
              <mat-hint>{{format(alarm.engagedTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="engagedTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #engagedTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="1. Fahrzeug am Einsatzort">
              <input matInput [matDatepicker]="firstVehicleTimePicker" name="firstVehicleTime" [(ngModel)]="alarm.firstVehicleTime" class="time">
              <mat-hint>{{format(alarm.firstVehicleTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="firstVehicleTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #firstVehicleTimePicker></mat-datepicker>
            </mat-form-field>
          </form>
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Alarm Stopp">
              <input matInput [matDatepicker]="alarmStopTimePicker" name="alarmStopTime" [(ngModel)]="alarm.alarmStopTime" class="time">
              <mat-hint>{{format(alarm.alarmStopTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="alarmStopTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #alarmStopTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="Einsatzbereitschaft wiederhergestellt">
              <input matInput [matDatepicker]="preparednessTimePicker" name="preparednessTime" [(ngModel)]="alarm.preparednessTime" class="time">
              <mat-hint>{{format(alarm.preparednessTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="preparednessTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #preparednessTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexOffset="1">
              <input matInput placeholder="Endzeit">
              <input matInput [matDatepicker]="endTimePicker" name="endTime" [(ngModel)]="alarm.endTime" class="time">
              <mat-hint>{{format(alarm.endTime)}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
              <mat-datepicker #endTimePicker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alarmierung
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex>
              <mat-select placeholder="Alarmiert von">
                <mat-option value="0">BWST/LWZ</mat-option>
                <mat-option value="1">OvD</mat-option>
                <mat-option value="2">Andere</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="60" fxFlexOffset="1">
              <input matInput placeholder="Andere">
            </mat-form-field>
          </form>
          <p>Alarmierung mittels</p>
          <form fxFlex="100" fxLayout="column">
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary">Feuer</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Sammelruf</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Mannschaft erforderlich</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Kleineinsatz</mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary">Gruppe 1</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Gruppe 2</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Sonderkraftfahrer</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Kommando</mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100">
              <mat-checkbox fxFlex="20" color="primary">Wasserdienst</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Telefon</mat-checkbox>
              <mat-checkbox fxFlex="20" color="primary">Mannschaft ist im Feuerwehrhaus</mat-checkbox>
            </div>
          </form>
          <br/>
          <mat-form-field fxFlex="100">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let department of departments; let i = index" [removable]="i >= 1" (removed)="remove(department)">
                {{department.name}}
                <mat-icon matChipRemove *ngIf="i >= 1">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Eingesetzte Feuerwehren" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Schadenslage, Tätigkeiten und Probleme
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Schadenslage"></textarea>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Vorkommnisse"></textarea>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Tätigkeiten"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sonstiges
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <form fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex>
              <input matInput placeholder="Temperatur" type="number" style="text-align: right">
              <span matSuffix>° C</span>
            </mat-form-field>
            <mat-form-field fxFlex="70" fxFlexOffset="1">
              <input matInput placeholder="Wetter">
            </mat-form-field>
          </form>
          <mat-checkbox color="primary">Kosten bereits bezahlt</mat-checkbox>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Einsatzspezifische Informationen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Not implemented yet!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>