<div class="content"
     fxLayout="column"
     fxLayout.gt="row">
  <form>
    <mat-card fxFlex="calc(50% - 20px)" fxFlexOffset="10px" style="margin: 10px 10px 10px 0">
      <mat-form-field fxFlex="calc(100% - 110px)">
        <input matInput placeholder="Gerät">
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-left: 10px; width: 100px">Hinzufügen</button>
    </mat-card>
    <mat-card fxFlex="calc(50% - 20px)" fxFlexOffset="10px" style="margin: 10px 10px 10px 0">
      <mat-form-field fxFlex="calc(100% - 110px)">
        <input matInput placeholder="Gerät">
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-left: 10px; width: 100px">Hinzufügen</button>
    </mat-card>
  </form>
</div>
