<div class="content">
  <form>
    <mat-card fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput
               placeholder="Gerätename"
               name="deviceName"
               [(ngModel)]="deviceName">
      </mat-form-field>
      <mat-form-field fxFlex="20">
        <input matInput
               placeholder="Anzahl"
               type="number"
               min="1"
               name="deviceCount"
               [(ngModel)]="deviceCount">
      </mat-form-field>
      <button mat-raised-button
              fxHide
              fxShow.gt-sm
              fxFlex="none"
              fxFlexOffset="2"
              color="primary"
              (click)="add()"
              style="height: 36px">Hinzufügen</button>
      <button mat-mini-fab
              fxHide
              fxShow.lt-md
              fxFlex="none"
              fxFlexOffset="2"
              color="primary"
              (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
  </form>

  <form>
    <mat-card fxFlex="grow">
      <mat-chip-list>
        <mat-chip *ngFor="let device of devices">
          {{device.count}}x {{device.name}}
          <mat-icon matChipRemove
                    (click)="delete(device)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </form>
</div>
