<mat-dialog-content>
  <h2 mat-dialog-title>Nachricht hinzufügen</h2>
  <form fxLayout="column" (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Nachricht</mat-label>
      <input matInput formControlName="message">
      <mat-error>Feld wird benötigt</mat-error>
    </mat-form-field>

    <button class="form-submit-button" mat-button type="button" (click)="close()">Schließen</button>
    <button class="form-submit-button" type="submit" mat-button color="accent">Hinzufügen</button>
  </form>
</mat-dialog-content>