<div class="fixed-container" fxLayout="row">
  <mat-form-field appearance="outline" class="flawless" fxFlex>
    <mat-label>Suchbegriff</mat-label>
    <input matInput (keyup)="onValueChange()" [formControl]="search" />
  </mat-form-field>
</div>

<div class="container" fxLayout="column">
  <mat-list>
    <mat-list-item *ngFor="let member of relevantMembers" fxLayout="column" matRipple (click)="openDialog(member)">
      <h3 matLine [style.font-weight]="member.position.length !== 0 ? 'bold' : 'normal'">{{member.name}}</h3>
      <p *ngIf="member.position.length !== 0" matLine>{{buildInfo(member)}}</p>
      <mat-checkbox fxAlign="right" disableRipple (click)="$event.preventDefault()"
        [checked]="member.position.length !== 0">
      </mat-checkbox>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item *ngFor="let member of unrelevantMembers" fxLayout="column" matRipple (click)="openDialog(member)">
      <h3 matLine [style.font-weight]="member.position.length !== 0 ? 'bold' : 'normal'">{{member.name}}</h3>
      <p *ngIf="member.position.length !== 0" matLine>{{buildInfo(member)}}</p>
      <mat-checkbox fxAlign="right" disableRipple (click)="$event.preventDefault()"
        [checked]="member.position.length !== 0">
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
</div>