mat-chip {
  cursor: pointer;
  font-size: 12pt;
  height: auto;
}


.fab-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  backface-visibility: hidden;
}

mat-list-item {
  cursor: pointer !important;
}

mat-list-item:hover {
  background-color: rgb(225, 225, 225) !important;
}

::ng-deep {
  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: white;
  }
}