<div class="container">
  <form fxLayout="row" fxLayoutGap="2.5%" fxHide.lt-lg [formGroup]="formGroup">
    <mat-form-field fxFlex="30" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput>
      <mat-error>Feld wird benötigt</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="30" appearance="outline">
      <mat-label>Funktion</mat-label>
      <input matInput>
      <mat-error>Feld wird benötigt</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="20" appearance="outline">
      <mat-label>Fahrzeug</mat-label>
      <mat-select>
        <mat-option>Kommando 1</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button fxFlex="15" color="accent" class="add-button">Hinzufügen</button>
  </form>

  <form fxLayout="column" [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline" floatLabel="always">
      <mat-label>Tank 3</mat-label>
      <mat-chip-list #chipList>
        <mat-chip color="warn" selected matTooltip="Einsatzleiter">
          Thomas Fraungruber
          <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected matTooltip="Maschinist">
          Alexander Koblmüller
          <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
        </mat-chip>
        <mat-chip matTooltip="Atemschutzträger">
          Christoph Eigenstuhler
          <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </form>

  <form fxLayout="column" [formGroup]="formGroup">
    <mat-form-field fxFlex appearance="outline" floatLabel="always">
      <mat-label>Tank 1</mat-label>
      <mat-chip-list #chipList>
      </mat-chip-list>
    </mat-form-field>
  </form>
  <!-- <mat-chip-list>
    <mat-chip>
      Christoph Thiel
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip>
      Hans-Christian Andersen
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="primary" selected>
      Alexander Koblmüller
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="accent" selected>
      Thomas Fraungruber
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="primary" selected>
      Andreas Weinzierl
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="accent" selected>
      Oliver Deutsch
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip>
      Christoph Eigenstuhler
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip>
      Julia Reisinger
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip>
      Hakan Ben Sahid
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="primary" selected>
      Markus Ortmair
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="accent" selected>
      Christoph Zimprich
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="primary" selected>
      Daniel Himpsl
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="accent" selected>
      Andreas Müller
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip>Max Mustermann</mat-chip>
    <mat-chip color="primary" selected>
      Maria Musterfrau
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip>
      Lukas Heim
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
    <mat-chip color="warn" selected>
      Rudolf Berger
      <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
    </mat-chip>
  </mat-chip-list>-->
</div>

<button mat-fab fxShow.md fxHide.gt-md class="fab-button">
  <mat-icon svgIcon="add"></mat-icon>
</button>