mat-chip {
  cursor: pointer;
  font-size: 12pt;
  height: auto;
}

mat-list-item {
  cursor: pointer !important;
}

mat-list-item:hover {
  background-color: rgb(225, 225, 225) !important;
}

::ng-deep {
  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: white;
  }
}