<div class="container">
  <div fxLayout="column" fxLayoutGap="2%">
    <mat-card>
      <form fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%">
        <app-time-input fxFlex="20%" [label]="'Zeit'" [value]="dateTime"></app-time-input>

        <mat-form-field fxFlex appearance="standard">
          <mat-label>Text</mat-label>
          <input matInput name="entry" [formControl]="textFormControl" [(ngModel)]="text">
          <mat-error *ngIf="textFormControl.hasError('required')">Text wird benötigt</mat-error>
        </mat-form-field>

        <button fxFlex="20%" mat-raised-button color="primary" class="button-add" (click)="add()">Hinzufügen</button>
      </form>
    </mat-card>

    <mat-card *ngIf="alarm.protocol.length != 0">
      <table mat-table [dataSource]="alarm.protocol">
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef class="has-text-centered has-size-10">Zeit</th>
          <td mat-cell *matCellDef="let entry" class="has-text-centered has-size-10">{{formatTime(entry.time)}}</td>
        </ng-container>

        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef>Text</th>
          <td mat-cell *matCellDef="let entry">{{entry.text}}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let entry" class="has-text-centered has-size-10">
            <button mat-icon-button (click)="delete(entry)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns" class="has-hover" (click)="openDialog(row)"></tr>
      </table>
    </mat-card>
  </div>
</div>